body,
html{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(Background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
    font-size: 3.5rem;
    color: whitesmoke;
}
h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
}
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    border-radius: 5px;
    max-width: 200px;
    opacity: 1;  
}
li{
    list-style: none;
    display: inline-flex;
    margin: 0.2rem 0.2rem 20rem 0.2rem;
    padding: 0.2rem 0.2rem 20rem 0.2rem;
    color: whitesmoke;
}

a{
    color: whitesmoke;
    text-decoration: none;
}
.container{
    background-color: rgba(0, 0, 0, 0.3);
}
.buffer{
    height: 2rem;
}
.btn{
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
}
.btn1{
    background-color: #ff4b2b;
    border-color: #ff4b2b;
    margin: 0.2rem 0.2rem;
    padding: 0.2rem 0.2rem;
}
.btn1:hover{
    background-color: transparent;
    border-color: whitesmoke;
}
.btn2{
    background-color: transparent;
    border-color: whitesmoke;
    margin: 0.2rem 0.2rem;
    padding: 0.2rem 0.2rem;
}
.btn2:hover{
    background-color: transparent;
    border-color: #ff4b2b;
    color: #ff4b2b;
}
.btn-xl{
    padding: 1rem 2rem;
}